<html>

<head>
  <% include ../partialview/header.ejs %>
   
</head>

<body ng-app="spark">
  <% include ../partialview/loginnav.ejs %>
    <section style=" background: linear-gradient(to top, rgba(255,255,255, 0.8), rgba(255,255,255,1) 80%), url('http://e.fastcompany.net/multisite_files/coexist/poster/2012/11/1680830-poster-1280-rfid-from-above.jpg'); background-size:cover;  padding-bottom: 200pt">
      <div class="container" style="padding-top:250px; color: #4b4b4b;">
        <div class="col-md-12">
          <h2 style="line-height: 32pt;">Some <span style="color: #f1c40f;">sparks</span> <span>bring about a change,</span><br>while some ignite a <span style="color:#2ecc71">Revolution.</span>
          <br></h2>
          <h4 style="padding-top:15px; padding-bottom:15px;"><span style="color: #444;">Let your sparks reach the right audience before it's too late.</span></h4>
          
          <a class="btn btn-default" href="/login">Log In</a>&nbsp;&nbsp;&nbsp;
          <a class="btn btn-primary"  href="/signup" style="font-size: 12pt; padding-left: 15pt;" class="pull-left btn btn-no-button">Sign Up</a>
          <br>

        </div>
      </div>

    </section>


    <section style="min-height: 400px; color: #4b4b4b; padding-top:100px">
      <div class="container text-center" >
        <h2>How we help?</h2><br><br>
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <p style="font-size:12pt;">
              We connect with the Venture Funding societies, on behalf of the Spark Maker, and make sure that the Spark with the <span style="color:#f1c40f">'Oomph!'</span> factor is heard out loud in the different sectors. We know the value of an Idea and are willing to help you to the best of our knowledge.
              <br><br>Our goal is to make sure that the ideas that have great potential at changing the lives of the people never go unheard, as these small and unique ideas surely are the starting footsteps to something revolutionary that it has in store for us.
            </p>
          </div><br><br>
        </div>
        
        <div class="row">
          <div class="col-md-12">
            <img src="images/how-we-help.png" alt="How we help" class="img img-responsive" style="width: 100%; padding-bottom:100px; padding-top:20px;">
          </div>
        </div>
        
      </div>

    </section>
    <% include ../partialview/footer.ejs %>
    
<!-- TO DO - Implement Masonry -->
<script>
  $(document).ready(function(){
    $('.grid').masonry({
  // options
  itemSelector: '.grid-item',
});
  });
  </script>
</body>

</html>