<html>

<head>
       <!-- META -->     <meta charset="utf-8">     <meta name="viewport" content="width=device-width, initial-scale=1">      <title>Spark</title>      <!-- SCROLLS -->     <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"><!-- load bootstrap -->     <link rel="stylesheet" href="stylesheets/style.css">      <style>            </style>      <!-- SPELLS -->     <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script><!-- load jquery -->     <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script><!-- load angular -->     <script src="//cdnjs.cloudflare.com/ajax/libs/masonry/3.3.2/masonry.pkgd.min.js"></script><!-- load masonry -->     <script src="https://use.typekit.net/oof3bbc.js"></script> <!-- Load Typekit -->     <script>try{Typekit.load({ async: true });}catch(e){}</script>
</head>

<body>
    <!-- Navbar for the application --><nav class="navbar navbar-default navbar-fixed-top">         <div class="container">          <div class="pull-left">           <a href="index.htm">            <img src="images/spark-logo.svg" alt="Spark Logo" height="40" style="margin-top: 5pt;">           </a>          </div>          <ul class="nav-right-elements pull-right">            <li>              <a href="login.htm">Log In</a>            </li>            <li>              <a href="signup.htm">Sign Up</a>            </li>          </ul>         </div>       </nav>
    <section style="background: #fff;; margin-bottom: 100pt">
      <div class="container" style="padding-top:200px; color: #4b4b4b;">
        <div class="col-md-12">
          <h2 style="line-height: 32pt;">Some <span style="color: #f1c40f;">sparks</span> <span>bring about a change,</span><br>while some ignite a <span style="color:#2ecc71">Revolution.</span>
          <br></h2>
          <h4><span style="color: #ccc;">Let your sparks reach the right audience before it's too late.</span></h4>
          
          <a class="btn btn-default" href="/login">Log In</a>
          <a class="btn btn-no-button"  href="/signup" style="font-size: 12pt; padding-left: 15pt;" class="pull-left btn btn-no-button">Sign Up</a>
          <br>

        </div>
      </div>

    </section>
    
    <section style="margin-bottom: 20pt;">
      <div class="container">
       <div class="row grid">
       
       <!-- Listing of all the freshest sparks to allow the user to navigate and see various Ideas -->
       
       <!-- Single Post -->
        <div class="col-md-4 grid-item"> 
         <a href="/login" class="inherit-color"> 
          <div class="row tile" style="background: #2ecc71; width: 100%; height: 3pt;">
            
            <div class="col-md-12" style="box-shadow: 0 0 2pt rgba(0,0,0,0.1); border: 1pt solid #eee; padding: 10pt 15px;">
              
              <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia nulla eius, libero, necessitatibus inventore modi doloribus quibusdam. Quasi possimus voluptas nulla dolores laudantium harum totam aspernatur, qui esse ab soluta.</h4>
              <p style="height: 30pt; overflow: hidden; text-overflow: ellipsis;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam magni quo quasi harum iure sunt, quis voluptas rem dolore unde, numquam et a temporibus! Odio vero officiis quas totam ex.</p>
              <br>
              <span style="font-size: 10pt; color: #ccc;">Venkatesh Krishnan</span>
              <span class="pull-right" style="font-size: 10pt; color: #27ae60;">Open</span>
              
            </div>
            
          </div>
          </a>
        </div>
         <!-- End Single post -->
         
         <!-- Single Post -->
        <div class="col-md-4 grid-item"> 
         <a href="/login" class="inherit-color"> 
          <div class="row tile" style="background: #2ecc71; width: 100%; height: 3pt;">
            
            <div class="col-md-12" style="box-shadow: 0 0 2pt rgba(0,0,0,0.1); border: 1pt solid #eee; padding: 10pt 15px;">
              
              <h4>Heading</h4>
              <p style="height: 30pt; overflow: hidden; text-overflow: ellipsis;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam magni quo quasi harum iure sunt, quis voluptas rem dolore unde, numquam et a temporibus! Odio vero officiis quas totam ex.</p>
              <br>
              <span style="font-size: 10pt; color: #ccc;">Venkatesh Krishnan</span>
              <span class="pull-right" style="font-size: 10pt; color: #27ae60;">Open</span>
              
            </div>
            
          </div>
          </a>
        </div>
         <!-- End Single post -->
         
         
         <!-- Single Post -->
        <div class="col-md-4 grid-item"> 
         <a href="/login" class="inherit-color"> 
          <div class="row tile" style="background: #2c3e50; width: 100%; height: 3pt;">
            
            <div class="col-md-12" style="box-shadow: 0 0 2pt rgba(0,0,0,0.1); border: 1pt solid #eee; padding: 10pt 15px;">
              
              <h4>Heading</h4>
              <p style="height: 30pt; overflow: hidden; text-overflow: ellipsis;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam magni quo quasi harum iure sunt, quis voluptas rem dolore unde, numquam et a temporibus! Odio vero officiis quas totam ex.</p>
              <br>
              <span style="font-size: 10pt; color: #ccc;">Venkatesh Krishnan</span>
              <span class="pull-right" style="font-size: 10pt; color: #2c3e50;">Invested</span>
              
            </div>
            
          </div>
          </a>
        </div>
         <!-- End Single post -->
         
         
         <!-- Single Post -->
        <div class="col-md-4 grid-item"> 
         <a href="/login" class="inherit-color"> 
          <div class="row tile" style="background: #2ecc71; width: 100%; height: 3pt;">
            
            <div class="col-md-12" style="box-shadow: 0 0 2pt rgba(0,0,0,0.1); border: 1pt solid #eee; padding: 10pt 15px;">
              
              <h4>Heading</h4>
              <p style="height: 30pt; overflow: hidden; text-overflow: ellipsis;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam magni quo quasi harum iure sunt, quis voluptas rem dolore unde, numquam et a temporibus! Odio vero officiis quas totam ex.</p>
              <br>
              <span style="font-size: 10pt; color: #ccc;">Venkatesh Krishnan</span>
              <span class="pull-right" style="font-size: 10pt; color: #27ae60;">Open</span>
              
            </div>
            
          </div>
          </a>
        </div>
         <!-- End Single post -->
         
         
         <!-- Single Post -->
        <div class="col-md-4 grid-item"> 
         <a href="/login" class="inherit-color"> 
          <div class="row tile" style="background: #2ecc71; width: 100%; height: 3pt;">
            
            <div class="col-md-12" style="box-shadow: 0 0 2pt rgba(0,0,0,0.1); border: 1pt solid #eee; padding: 10pt 15px;">
              
              <h4>Heading</h4>
              <p style="height: 30pt; overflow: hidden; text-overflow: ellipsis;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam magni quo quasi harum iure sunt, quis voluptas rem dolore unde, numquam et a temporibus! Odio vero officiis quas totam ex.</p>
              <br>
              <span style="font-size: 10pt; color: #ccc;">Venkatesh Krishnan</span>
              <span class="pull-right" style="font-size: 10pt; color: #27ae60;">Open</span>
              
            </div>
            
          </div>
          </a>
        </div>
         <!-- End Single post -->  
        </div>
      </div>
    </section>
    
<!-- TO DO - Implement Masonry -->
<script>
  $('.grid').masonry({
  // options
  itemSelector: '.grid-item',
});
  </script>
</body>

</html>