<html>
  <head>
     <% include ../partialview/header.ejs %>

  </head>
  <body>
  <% include ../partialview/logoutnav.ejs %>
        <section style="background: #fff;; margin-bottom: 100pt">
        <div class="container" style="padding-top:150px; color: #4b4b4b;">
          <div class="col-md-12">
            <span style="color: #aaa;">Spark <a href="#">#71235</a></span><br><br><br>
             <h4><a href="#" class="inherit-color"><span class="spark">Sunaina Singhal</span></a>'s Spark is <span class="status" style="color: #27ae60">Open</span></h4>
            <h2>Solar Energy Panels</h2>
            <br>
            <a href="#"><span class="tag">solar</span></a>
            <a href="#"><span class="tag">reusable</span></a>
            <a href="#"><span class="tag">energy</span></a>
            <br><br>
            <span style="color: #aaa;">Created on Aug 21, 2015</span>
            
            
          </div>
        </div>
        
      </section>
      
      
    <section style="margin-bottom: 20pt;">
       <div class="col-md-4 col-md-offset-4" style="border-top: 1pt solid #eee; "></div>
      <div class="container" style="padding: 40pt 15px;">
      
       <div class="col-md-12 text-justify">
        <p style="font-size: 12pt; line-height: 18pt; margin-top:20pt;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem corrupti nemo optio quos rerum facere, veniam sequi delectus sunt, error quaerat, cupiditate fuga porro quam eligendi non officiis sit architecto.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem corrupti nemo optio quos rerum facere, veniam sequi delectus sunt, error quaerat, cupiditate fuga porro quam eligendi non officiis sit architecto.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem corrupti nemo optio quos rerum facere, veniam sequi delectus sunt, error quaerat, cupiditate fuga porro quam eligendi non officiis sit architecto.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem corrupti nemo optio quos rerum facere, veniam sequi delectus sunt, error quaerat, cupiditate fuga porro quam eligendi non officiis sit architecto.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem corrupti nemo optio quos rerum facere, veniam sequi delectus sunt, error quaerat, cupiditate fuga porro quam eligendi non officiis sit architecto.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem corrupti nemo optio quos rerum facere, veniam sequi delectus sunt, error quaerat, cupiditate fuga porro quam eligendi non officiis sit architecto.Lorem ipsum dolor sit amet.</p>
        <p style="font-size: 12pt; line-height: 18pt; margin-top:20pt;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem corrupti nemo optio quos rerum facere, veniam sequi delectus sunt, error quaerat, cupiditate fuga porro quam eligendi non officiis sit architecto.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem corrupti nemo optio quos rerum facere, veniam sequi delectus sunt, error quaerat, cupiditate fuga porro quam eligendi non officiis sit architecto.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem corrupti nemo optio quos rerum facere, veniam sequi delectus sunt, error quaerat, cupiditate fuga porro quam eligendi non officiis sit architecto.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem corrupti nemo optio quos rerum facere, veniam sequi delectus sunt, error quaerat, cupiditate fuga porro quam eligendi non officiis sit architecto.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem corrupti nemo optio quos rerum facere, veniam sequi delectus sunt, error quaerat, cupiditate fuga porro quam eligendi non officiis sit architecto.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem corrupti nemo optio quos rerum facere, veniam sequi delectus sunt, error quaerat, cupiditate fuga porro quam eligendi non officiis sit architecto.Lorem ipsum dolor sit amet.</p>
        <p style="font-size: 12pt; line-height: 18pt; margin-top:20pt;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem corrupti nemo optio quos rerum facere, veniam sequi delectus sunt, error quaerat, cupiditate fuga porro quam eligendi non officiis sit architecto.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem corrupti nemo optio quos rerum facere, veniam sequi delectus sunt.</p>
        
       </div>
       <div class="col-md-12" style="padding: 50pt 15px">
         <span style="font-size: 12pt; color: #2980b9;" class="pull-left btn btn-no-button hidden">I am Interested !</span>
         <span style="color: #fff; border-radius: 100px; background: #f1c40f; border-color: #f1c40f; padding-left: 15pt; padding-right: 15pt" class="pull-right btn" onclick="unhideComment()" id="fuel">Fuel the Spark</span>
         
       </div>
        
      </div>
       
       
       <div class="col-md-4 col-md-offset-4" style="border-top: 1pt solid #eee; "></div>
       
       <!-- Notes and Discussion -->
      <div class="container hidden" id="chats" style="padding: 40pt 15px;">
        <div class="row">
         
         <!-- Single Note -->
          <div class="col-md-12" style="padding: 10pt 30px; margin-bottom:10pt;">
            <a href="#"><span style="font-size: 11pt;">View Previous Notes (12)</span></a><br>
          </div>
          <!-- Note ending -->
          
         <!-- Single Note -->
          <div class="col-md-12 discussion-notes">
            <span style="font-size: 11pt; color: #aaa;">Tanmay Saxena</span><br>
            <span style="font-size: 10pt; color: #ccc;">Jul 21, 2015 - 6:52 PM</span><br>
            <p style="font-size: 12pt; line-height: 18pt; margin-top:20pt;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem corrupti nemo optio quos rerum facere, veniam sequi delectus sunt, error quaerat, cupiditate fuga porro quam eligendi non officiis sit architecto.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem corrupti nemo optio quos rerum facere, veniam sequi delectus sunt.</p>
          </div>
          <!-- Note ending -->
          
          <!-- Single Note -->
          <div class="col-md-12 discussion-notes">
            <span style="font-size: 11pt; color: #aaa;">Tanmay Saxena</span><br>
            <span style="font-size: 10pt; color: #ccc;">Jul 21, 2015 - 6:52 PM</span><br>
            <p style="font-size: 12pt; line-height: 18pt; margin-top:20pt;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem corrupti nemo optio quos rerum facere, veniam sequi delectus sunt, error quaerat, cupiditate fuga porro quam eligendi non officiis sit architecto.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem corrupti nemo optio quos rerum facere, veniam sequi delectus sunt.</p>
          </div>
          <!-- Note ending -->
          
          <!-- Single Note -->
          <div class="col-md-12 discussion-notes">
            <span style="font-size: 11pt; color: #aaa;">Tanmay Saxena</span><br>
            <span style="font-size: 10pt; color: #ccc;">Jul 21, 2015 - 6:52 PM</span><br>
            <p style="font-size: 12pt; line-height: 18pt; margin-top:20pt;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem corrupti nemo optio quos rerum facere, veniam sequi delectus sunt, error quaerat, cupiditate fuga porro quam eligendi non officiis sit architecto.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem corrupti nemo optio quos rerum facere, veniam sequi delectus sunt.</p>
          </div>
          <!-- Note ending -->
          
          <div class="col-md-12" class="form-group" style="padding: 0; margin-top:20pt;">
            <input type="text" placeholder="Type your text" class="form-control" style="padding-top:20pt; padding-bottom: 20pt;" aria-describedby="inputSuccess5Status" id="messagenow">
          </div>
          
          
          
        </div>
      </div>
    </section>
  <script>
    function unhideComment(){
      $('#fuel').addClass('hidden');
      $('#chats').removeClass('hidden');
      $('#messagenow').focus();
    }
    </script>
  </body>
</html>