<html>

<head>
  <% include ../partialview/header.ejs %>
</head>

<body>
  <% include ../partialview/logoutnav.ejs %>
    <section style="background: #fff;; margin-bottom: 100pt">
      <div class="container" style="padding-top:200px; color: #4b4b4b;">
        <div class="col-md-12">
          <h2 style="line-height: 32pt;"><span style="color: #f1c40f;">Sparks</span> <span>that ignite a </span><span style="color:#2ecc71">Change</span>.
          <br>Let's make a difference.</h2>
          <br>

        </div>
      </div>

    </section>


    <section style="margin-bottom: 20pt;">
      <div class="col-md-4 col-md-offset-4" style="border-top: 1pt solid #eee; "></div>
      <div class="container" style="padding: 40pt 15px;">

        <div class="col-md-12 text-justify">
          <h3>Heading</h3>
          <p style="font-size: 12pt; line-height: 18pt; margin-top:20pt;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem corrupti nemo optio quos rerum facere, veniam sequi delectus sunt, error quaerat, cupiditate fuga porro quam eligendi non officiis sit architecto.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem corrupti nemo optio quos rerum facere, veniam sequi delectus sunt, error quaerat, cupiditate fuga porro quam eligendi non officiis sit architecto.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem corrupti nemo optio quos rerum facere, veniam sequi delectus sunt, error quaerat, cupiditate fuga porro quam eligendi non officiis sit architecto.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem corrupti nemo optio quos rerum facere, veniam sequi delectus sunt, error quaerat, cupiditate fuga porro quam eligendi non officiis sit architecto.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem corrupti nemo optio quos rerum facere, veniam sequi delectus sunt, error quaerat, cupiditate fuga porro quam eligendi non officiis sit architecto.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem corrupti nemo optio quos rerum facere, veniam sequi delectus sunt, error quaerat, cupiditate fuga porro quam eligendi non officiis sit architecto.Lorem ipsum dolor sit amet.</p>
          <p style="font-size: 12pt; line-height: 18pt; margin-top:20pt;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem corrupti nemo optio quos rerum facere, veniam sequi delectus sunt, error quaerat, cupiditate fuga porro quam eligendi non officiis sit architecto.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem corrupti nemo optio quos rerum facere, veniam sequi delectus sunt, error quaerat, cupiditate fuga porro quam eligendi non officiis sit architecto.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem corrupti nemo optio quos rerum facere, veniam sequi delectus sunt, error quaerat, cupiditate fuga porro quam eligendi non officiis sit architecto.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem corrupti nemo optio quos rerum facere, veniam sequi delectus sunt, error quaerat, cupiditate fuga porro quam eligendi non officiis sit architecto.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem corrupti nemo optio quos rerum facere, veniam sequi delectus sunt, error quaerat, cupiditate fuga porro quam eligendi non officiis sit architecto.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem corrupti nemo optio quos rerum facere, veniam sequi delectus sunt, error quaerat, cupiditate fuga porro quam eligendi non officiis sit architecto.Lorem ipsum dolor sit amet.</p>
          <p style="font-size: 12pt; line-height: 18pt; margin-top:20pt;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem corrupti nemo optio quos rerum facere, veniam sequi delectus sunt, error quaerat, cupiditate fuga porro quam eligendi non officiis sit architecto.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem corrupti nemo optio quos rerum facere, veniam sequi delectus sunt.</p>

        </div>
        <div class="col-md-12" style="padding: 50pt 15px">
          <span style="font-size: 14pt; color: #2980b9;" class="pull-left">I am Interested !</span>
          <span style="font-size: 14pt; color: #fff; border-radius: 100px; background: #f1c40f; border-color: #f1c40f; padding-left: 15pt; padding-right: 15pt" class="pull-right btn">Let's Discuss</span>

        </div>

      </div>
    </section>


    <section>


    </section>
</body>

</html>