<html>
  <head>
     <% include ../partialview/header.ejs %>
  </head>
  <body>
  <% include ../partialview/logoutnav.ejs %>
        <section style="background: #fff;; margin-bottom: 100pt">
        <div class="container" style="padding-top:200px; color: #4b4b4b;">
          <div class="col-md-12">
             <h4><a href="#" class="inherit-color"><span class="spark">Prateek Mahajan</span></a>'s Spark is <span class="status" style="color: #27ae60">Open</span></h4>
            <h2>Solar Cooking, the other way of doing stuff</h2>
            <br>
            <a href="#"><span class="tag">solar</span></a>
            <a href="#"><span class="tag">reusable</span></a>
            <a href="#"><span class="tag">energy</span></a>
            <br><br>
            <span style="color: #aaa;">Created on Aug 21, 2015</span>
            
            
          </div>
        </div>
        
      </section>
      
      
    <section style="margin-bottom: 20pt;">
       <div class="col-md-4 col-md-offset-4" style="border-top: 1pt solid #eee; "></div>
      <div class="container" style="padding: 40pt 15px;">
      
       <div class="col-md-12 text-justify">
         <h3>Heading</h3>
        <p style="font-size: 12pt; line-height: 18pt; margin-top:20pt;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem corrupti nemo optio quos rerum facere, veniam sequi delectus sunt, error quaerat, cupiditate fuga porro quam eligendi non officiis sit architecto.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem corrupti nemo optio quos rerum facere, veniam sequi delectus sunt, error quaerat, cupiditate fuga porro quam eligendi non officiis sit architecto.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem corrupti nemo optio quos rerum facere, veniam sequi delectus sunt, error quaerat, cupiditate fuga porro quam eligendi non officiis sit architecto.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem corrupti nemo optio quos rerum facere, veniam sequi delectus sunt, error quaerat, cupiditate fuga porro quam eligendi non officiis sit architecto.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem corrupti nemo optio quos rerum facere, veniam sequi delectus sunt, error quaerat, cupiditate fuga porro quam eligendi non officiis sit architecto.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem corrupti nemo optio quos rerum facere, veniam sequi delectus sunt, error quaerat, cupiditate fuga porro quam eligendi non officiis sit architecto.Lorem ipsum dolor sit amet.</p>
        <p style="font-size: 12pt; line-height: 18pt; margin-top:20pt;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem corrupti nemo optio quos rerum facere, veniam sequi delectus sunt, error quaerat, cupiditate fuga porro quam eligendi non officiis sit architecto.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem corrupti nemo optio quos rerum facere, veniam sequi delectus sunt, error quaerat, cupiditate fuga porro quam eligendi non officiis sit architecto.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem corrupti nemo optio quos rerum facere, veniam sequi delectus sunt, error quaerat, cupiditate fuga porro quam eligendi non officiis sit architecto.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem corrupti nemo optio quos rerum facere, veniam sequi delectus sunt, error quaerat, cupiditate fuga porro quam eligendi non officiis sit architecto.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem corrupti nemo optio quos rerum facere, veniam sequi delectus sunt, error quaerat, cupiditate fuga porro quam eligendi non officiis sit architecto.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem corrupti nemo optio quos rerum facere, veniam sequi delectus sunt, error quaerat, cupiditate fuga porro quam eligendi non officiis sit architecto.Lorem ipsum dolor sit amet.</p>
        <p style="font-size: 12pt; line-height: 18pt; margin-top:20pt;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem corrupti nemo optio quos rerum facere, veniam sequi delectus sunt, error quaerat, cupiditate fuga porro quam eligendi non officiis sit architecto.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem corrupti nemo optio quos rerum facere, veniam sequi delectus sunt.</p>
        
       </div>
       <div class="col-md-12" style="padding: 50pt 15px">
         <span style="font-size: 14pt; color: #2980b9;" class="pull-left">I am Interested !</span>
         <span style="font-size: 14pt; color: #fff; border-radius: 100px; background: #f1c40f; border-color: #f1c40f; padding-left: 15pt; padding-right: 15pt" class="pull-right btn">Fuel the Spark</span>
         
       </div>
        
      </div>
    </section>
    
    
    <section>
      
      
    </section>
  </body>
</html>