<html>
  <head>
     <% include ../partialview/header.ejs %>
  </head>
  <body>
  <% include ../partialview/logoutnav.ejs %>
        <section style="background: #fff;; margin-bottom: 50pt">
        <div class="container" style="padding-top:150px; color: #4b4b4b;">
          <div class="col-md-12">
            <span style="color: #aaa;">Spark <span style="color: #ccc;">#XXXXX</span></span><br><br><br>
            <input type="text" placeholder="Spark Title" class="form-control" style="font-size: 20pt; height: auto;">
            
            <div class="col-md-6" style="padding-left:0;">
              <input type="text" class="form-control" placeholder="Enter at max 3 tags">
            </div>
            <br><br><br>

          </div>
        </div>
        
      </section>
      
      
    <section style="margin-bottom: 20pt;">
       <div class="col-md-4 col-md-offset-4" style="border-top: 1pt solid #eee; "></div>
      <div class="container" style="padding: 40pt 15px;">
      
       <div class="col-md-12 text-justify">
        
         <textarea name="description" id="" cols="30" rows="10" class="form-control" placeholder="Describe your Spark and what makes it so different from the others out there." style="resize: none;"></textarea>
        
       </div>
       <div class="col-md-12" style="padding: 50pt 15px">
         <a style="font-size: 12pt; color: #e74c3c;" class="pull-left btn btn-no-button" href="/sparks">Cancel</a>
         <button type="submit" style="color: #fff; border-radius: 100px; background: #f1c40f; border-color: #f1c40f; padding-left: 15pt; padding-right: 15pt" class="pull-right btn">Publish Spark</button>
         
       </div>
        
      </div>
          
        </div>
      </div>
    </section>
  </body>
</html>