<html>

<head>
  <% include ../partialview/header.ejs %>
  <script src="js/sparks.js"></script>
</head>

<body ng-app="spark">
  <% include ../partialview/logoutnav.ejs %>
    <section style="background: #fff;; margin-bottom: 100pt">
      <div class="container" style="padding-top:200px; color: #4b4b4b;">
        <div class="col-md-12">
          <h2 style="line-height: 32pt;"><span style="color: #f1c40f;">Sparks</span> <span>that ignite a </span><span style="color:#2ecc71">Revolution.</span>
          <br><span style="color: #ccc;">Let's make a difference.</span></h2>
          <br>

        </div>
      </div>

    </section>


    <section style="margin-bottom: 20pt;">
      <div class="container">
        <input ng-model="query" class="form-control" placeholder="Find Sparks" style="margin-left: -15px;"><br><br><br>
       <div class="row grid" ng-controller="allSparks">
       
       <!-- User 'Likes' specific filtered data will be calculated and shown -->
       
       <!-- Single Post -->
        <div class="col-md-4 grid-item" ng-repeat="spark in sparks | filter:query"> 
         <a href="/spark" class="inherit-color"> 
          <div class="row tile {{ spark.status }}" style="width: 100%; height: 3pt;">
            
            <div class="col-md-12" style="box-shadow: 0 0 2pt rgba(0,0,0,0.1); border: 1pt solid #eee; padding: 10pt 15px;">
              
              <h4 style="height: 30pt">{{ spark.title }}</h4>
              <p style="height: 30pt; overflow: hidden; text-overflow: ellipsis;">{{ spark.content }}</p>
              <br>
              <span style="font-size: 10pt; color: #ccc;">{{ spark.maker }}</span>
              <span class="pull-right status" style="font-size: 10pt;">{{ spark.status }}</span>
              
            </div>
            
          </div>
          </a>
        </div>
        
         <!-- End Single post -->
         
        </div>
      </div>
    </section>
    <% include ../partialview/footer.ejs %>

    
<!-- 
<script>
  $(document).ready(function(){
    $('.grid').masonry({
  // options
  itemSelector: '.grid-item',
});
  });
  </script>TO DO - Implement Masonry -->
</body>

</html>