
<section class="text-center" style="padding-top:15pt; padding-bottom:40pt; background: linear-gradient(to top, rgba(241, 196, 15, 0.3), rgba(255,255,255,1))">

  <span>Made with&nbsp;&nbsp;<i class="fa fa-heart" style="color:#f1c40f;"></i>&nbsp;&nbsp;by Team Regime. Enjoy!</span>

</section>