
    <!-- META -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Spark</title>

    <!-- SCROLLS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"><!-- load bootstrap -->
    <style>
      ul.nav-right-elements{
        text-decoration: none;
      }
      ul.nav-right-elements > li{
        text-decoration: none;
        float: left;
        padding: 10pt 10pt;
      }
      .navbar{
        background: linear-gradient(to top, rgba(255,255,255,0.1), rgba(255, 255, 255, 1.0) 45%);
        border: none;
        height: 60pt;
      }
    </style>

    <!-- SPELLS -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script><!-- load jquery -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script><!-- load angular -->