

<!-- Navbar for the application -->
 <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
         <div class="pull-left">
           <a href="/sparks">
             <img src="images/spark-logo.svg" alt="Spark Logo" height="40" style="margin-top: 5pt;">
           </a>
         </div>
         <ul class="nav-right-elements pull-right">
           <li>
             <a href="/spark-create">Create Spark</a>
           </li>
            <li>
             <a href="/">Log out</a>
           </li>
         </ul>
        </div>
      </nav>