

<!-- Navbar for the application -->
 <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
         <div class="pull-left">
           <img src="http://design.ubuntu.com/wp-content/uploads/ubuntu-logo32.png" alt="" height="50">
         </div>
         <ul class="nav-right-elements pull-right">
           <li>
             <a href="/login">Log out</a>
           </li>
         </ul>
        </div>
      </nav>